{% extends 'base.html.twig' %}

{% block title %}
    Formulaire d'ajout d'articles
{% endblock title %}


{% block article %}

    {#  Avec la méthode form, j'affiche mon formulaire d'insertion de catégories avec le paramètre ici :
    categorieFormView définit dans ma fonction insertCategory de mon CategoryController#}

    {{ form_start(categorieFormView) }}
    <div class="form-group">
        {{ form_label(categorieFormView.title, 'titre', {'label_attr': {'class':'form'}}) }}

        {{ form_widget(categorieFormView.title, {'attr': {'class':'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(categorieFormView.description, 'content', {'label_attr': {'class':'form'}}) }}

        {{ form_widget(categorieFormView.description, {'attr': {'class':'form'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(categorieFormView.createdAt, 'createdAt', {'label_attr': {'class':'form'}}) }}

        {{ form_widget(categorieFormView.createdAt, {'attr': {'class':'form'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(categorieFormView.isPublished, 'isPublished', {'label_attr': {'class':'form'}}) }}

        {{ form_widget(categorieFormView.isPublished, {'attr': {'class':'form'}}) }}
    </div>

    <div class="submit-form-categorie">
        {{ form_widget(categorieFormView.valider, {'attr': {'class':'form-delete'}}) }}
    </div>


    {{ form_end(categorieFormView) }}


{% endblock article %}